<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AXLSX : vos fichiers Excel (et compatibles) en Ruby - Créez simplement vos tableaux de bord graphiques.</title>

		<meta name="description" content="AXLSX un gem Ruby pour générer les fichiers xlsx.">
		<meta name="author" content="Pierre Merlin">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/serif.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>AXLSX</h1>
					<h3>Vos fichiers xlsx, tout simplement en Ruby</h3>
					<p>
						<small>Présentation de <a href="http://apido.org">Pierre Merlin</a>, le 7 janvier 2012, au <a href="http://meetup.rubyparis.org/">Paris.rb</a></small>
					</p>
				</section>

				<section>
					<h2>Bonjour</h2>
					<p>
						Pierre Merlin, développeur freelance.
            <br>
            e-mail: pierre at apido.org
					</p>
					<p>
						<a href="https://github.com/pimpin"> <img class="icon" src="./images/github.png"> : Pimpin</a>
					</p>
					<a class="image" href="http://apido.org/" target="_blank">
						<img class="icon" width="150" src="./images/RugbyOnRails.png" alt="I'm a Rugby player ;-)">
					</a>
					<aside class="notes">
						Agiliste webdev dispo heureux rugby.
					</aside>
				</section>

        <section>
          <h2>Le besoin du client :</h2>
          <blockquote>
            Je voudrais récupérer mes chiffres de production dans mon tableur.
          </blockquote>
          <aside class="notes">
            KISS
          </aside>
        </section>

				<section>
					<section>
						<h2>En CSV</h2>
						<p>
							Grâce à la <a href="http://ruby-doc.org/stdlib-1.9.3/libdoc/csv/rdoc/CSV.html">librairie CSV de Ruby 1.9</a>, vous pouvez exporter des données.
						</p>
          </section>
          <section>
            <p>Modifiez votre contrôleur,</p>
            <pre><code contenteditable>
##/app/controllers/products_controller.rb

class ProductsController < ApplicationController
  def index
    @products = Product.order(:name)
    respond_to do |format|
      format.html
      format.csv { render text: @products.to_csv }
    end
  end
end
            </code></pre>
            <aside class="notes">
              send_data pour downloader le fichier au lieu d'avoir un rendu en ligne
              cf http://apidock.com/rails/ActionController/Streaming/send_data
                    format.csv { send_data @products.to_csv }
                    format.xls { send_data @products.to_csv(col_sep: "\t") }
            </aside>  
					</section>
          <section>
            <p>Equipez votre modèle,</p>
            <pre><code contenteditable>
##/app/models/product.rb

class Product < ActiveRecord::Base
  attr_accessible :name, :price, :released_on
  
  def self.to_csv
    CSV.generate do |csv|
      csv << column_names
      all.each do |product|
        csv << product.attributes.values_at(*column_names)
      end
    end
  end
end
            </code></pre>
            <p>Et voila !</p>
          </section>
          <section data-state="alert">
            <h2>Oui, mais...</h2>
            <blockquote>
              Quand on ouvre la base de donnée ça marche pas. On peut pas faire un fichier Excel "normal"?
            </blockquote>
            <aside class="notes">
              KISS
            </aside>
          </section>
					<section>
						<h2>OK : on fait du "EXCEL"</h2>
						<p>On déclare le nouveau type,</p>
            <pre><code contenteditable>
##/config/initializers/mime_types.rb

Mime::Type.register "application/xls", :xls
            </code></pre>

					</section>
					<section>
						<p>on adapte son contrôleur,</p>
						<pre><code contenteditable>
##/app/controllers/products_controller.rb

class ProductsController < ApplicationController
  def index
    @products = Product.order(:name)
    respond_to do |format|
      format.html
      format.csv { send_data @products.to_csv }
      format.xls { send_data @products.to_csv(col_sep: "\t") }
    end
  end
end
            </code></pre>
            <aside class="notes">We’ll need to modify our controller now so that it responds to this type. The data needs to be tab-separated to open up properly in Excel; fortunately the csv library supports a column separator option that we can pass a tab character to to do this.</aside>
					</section>
					<section data-state="alert">
						<h2>Oui, mais...</h2>
						<blockquote>
              C'est pas très joli. Mes colonnes ne s'alignent pas comme il faut etc...
            </blockquote>
            <p>Soit. Développons une mise ne forme plus poussée à l'aide d'un template.</p>
            <aside class="notes">Instead of rendering the data in the controller we’ll create a template file for rendering the xls file. First we’ll remove the block from the xls’s format in the controller.</aside>
					</section>
          <section>
            
            <p>On allège le contrôleur (bonne pratique)</p>
            <pre><code contenteditable>
##app/controllers/products.rb

class ProductsController < ApplicationController
  def index
    @products = Product.order(:name)
    respond_to do |format|
      format.html
      format.csv { send_data @products.to_csv }
      format.xls
    end
  end
end
            </code></pre>
          </section>
          <section data-markdown>
            <script type="text/template">
Et on crée un template

/app/views/products/index.xls.erb
```
<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Release Date</th>
    <th>Price</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.released_on %></td>
    <td><%= product.price %></td>
  </tr>
  <% end %>
</table>'
```
</script>
          </section>

				</section>

				<section>
          <section>
					<h2>en "Excel"</h2>
					<p>
						Construire des fichiers EXCEL "à la mano",<br>
            Ce n'est pas compliqué : <a href="http://msdn.microsoft.com/en-us/library/aa140066%28v=office.10%29.aspx"><strong>RTFM</strong></a>.
					</p>
				</section>
        <section data-markdown>
          <script type="text/template">
            Et voila un template "minimaliste".
```
/app/views/products/index.xls.erb

'<?xml version="1.0"?>'
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Release Date</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
      </Row>
    <% @products.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= product.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.released_on %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= product.price %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
```
          </script>
          </section>
          <section data-state="alert">
            <h2>Oui, mais...</h2>
            <blockquote>
              Et je peux avoir des couleurs ? <br>
              Chaque fois, je fais le même graphique; j'aimerais récupérer un fichier avec ce graphique déjà inclus... <br>
              Et ma secrétaire n'a pas de licence Microsoft Excel, ce serait bien qu'elle puisse ouvrir le fichier avec Open Office.
            </blockquote>
            <p class="fragment roll-in">Attention la doc.</p>
            <aside class="notes">Instead of rendering the data in the controller we’ll create a template file for rendering the xls file. First we’ll remove the block from the xls’s format in the controller.</aside>
          </section>
        </section>
        <section>
        <section>
          <h2><a href="https://github.com/randym/axlsx">AXLSX</a>à la rescousse</h2>
          <h3>fonctionalités : </h3>
          <p class="fragment roll-in">prise en charge des données formatées en UTF-8</p>
          <p class="fragment roll-in">formatage les pourcentage en tant que chiffres, des dates en tant que date etc.</p>
          <p class="fragment roll-in">intégration des formules de calcul dans le fichier Excel</p>
          <p class="fragment roll-in">création de fichiers avec plusieurs feuilles</p>
        </section>
        <section>
          <h2>Vous en voulez plus ?</h2>
          <p class="fragment roll-in">édition de graph en battons, camemberts, histogrammes....</p>
          <p class="fragment roll-in">insertion d'images</p>
          <p class="fragment roll-in">gestion des styles</p>
          <p class="fragment roll-in">protection par mot de passe</p>
          <p class="fragment roll-in">gestion de la mise en forme pour impression </p>
          <p class="fragment roll-in">...</p>
        </section>
        </section>
        <section>
        <section data-state="info">
            <h2><a href="https://github.com/randym/axlsx">AXLSX</a> en pratique</h2>
            <p>La base :</p>
            <pre><code contenteditable>
p = Axlsx::Package.new
wb = p.workbook
wb.add_worksheet(:name => "Ventes") do |sheet|
  sheet.add_row Product.attribute_name
  @products.each do |product|
    sheet.add_row product.attributes.values
  end
end
p.serialize('ventes.xlsx')
</code></pre>
        </section>
        <section>
          <p>ajoutons du style</p>
          <pre><code contenteditable>
p = Axlsx::Package.new
wb = p.workbook

wb.styles do |s|
  black_cell = s.add_style :bg_color => "00", :fg_color => "FF", :sz => 14, :alignment => { :horizontal=> :center }
  blue_cell = s.add_style :bg_color => "0000FF", :fg_color => "FF", :sz => 20, :alignment => { :horizontal=> :center }
end

wb.add_worksheet(:name => "Ventes") do |sheet|
  sheet.add_row Product.attribute_name
  @products.each do |product|
    sheet.add_row product.attributes.values, :style => [black_cell, blue_cell, black_cell]
  end
end
p.serialize('ventes.xlsx')
          </code></pre>
        </section>
                <section>
          <p>Vous prendrez bien du camembert ?</p>
          <pre><code contenteditable>
wb.add_worksheet(:name => "statistiques") do |sheet|
  sheet.add_row ["catégorie"] + sells_by_categorie.map(&:category)
  sheet.add_row ["Volume de vente"] + sells_by_categorie.map(&:amount)

  sheet.add_chart(Axlsx::Pie3DChart,
    :start_at => [0,5],
    :end_at => [10, 20],
    :title => "Répartition des ventes par catégorie") do |chart|
      chart.add_series :data => sheet["B2:B6"],
        :labels => sheet["A2:A6"],
        :colors => ['FF0000', '00FF00', '0000FF']
  end
end
          </code></pre>
        </section>
        </section>
        <section>
          <p>Et enfin... </p>
          <h2>cerise sur le gateau</h2>
          <p class="fragment roll-in">distribué sous licence MIT</p>
          <p class="fragment roll-in">trés bonne couverture</p>
          <p class="fragment roll-in">documenté</p>
          <p class="fragment roll-in">support actif</p>
          <p class="fragment roll-in">intégration continue sur Travis CI</p>
          <br>
          <p class="fragment grow">utilisez, contribuez, participez.</p>
        </section>
				<section>
					<h1>Merci</h1>
					<h3>Des questions ?</h3>
          <br>
          <h4>Crédits et liens utiles: </h4>
          <ul>
            <li><a href="https://github.com/randym/axlsx">AXLSX - Randy Morgan</a></li>
            <li><a href="http://railscasts.com/episodes/362-exporting-csv-and-excel">Exporting CSV and Excel - Ryan Bates</a></li>
            <li><a href="https://github.com/hakimel/reveal.js">reveal.js</a></li>
          </ul>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional librairies used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
